<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<array>
		<string>Example 1</string>
		<string>Example 2</string>
	</array>
	<key>Image</key>
	<array>
		<string>okellysbar.jpg</string>
		<string>okellysbar.jpg</string>
	</array>
</dict>
</plist>
